<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%trans 'Edit Profile' %}</title>
    <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance:textfield;
    }
    </style>
</head>
<body>
    <form id="formulario3" action="{% url 'profile:update' pro_id %}" method="post">
      {% csrf_token %}
        <label>
            <span>{% trans 'Phone' %}</span>
            {{ form.phone }}
            {{form.phone.errors}}
        </label>
        <label>
        <span>{% trans 'Gender' %}</span>
            {{ form.gender }}
            {{form.gender.errors}}
        </label>
        <label>
        <span>{% trans 'City' %}</span>
            {{ form.city }}
            {{form.city.errors}}
        </label>
        <label>
        <span>{% trans 'Company' %}</span>
            {{ form.company }}
            {{form.company.errors}}
        </label>
        {{ form.non_field_errors }}
        <button id="confirm" type="submit" class="submit">{% trans 'sign in now' %}</button>
    </form>
</body>
</html>