<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login and signup</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <!--ajax.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--ajax.js-->
  <!--    swal alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
<div>
<div class="cont">
  <div class="form sign-in">
    <form id="formulario" action="{% url 'account:login' %}" method="post">
          {% csrf_token %}
    <h2>{% trans 'Welcome back,' %}</h2>
    <label>
      <span>{% trans 'Username' %} {% trans 'or' %} {% trans 'Email' %}</span>
      {{ form.username }}
      {{form.username.errors}}
    </label>
    <label>
      <span>{% trans 'Password' %}</span>
      {{ form.password }}
      {{form.password.errors}}
    </label>
      {{ form.non_field_errors }}


<!--    <p class="forgot-pass"><a href="#">{% trans 'Forgot password?' %}</a></p>-->
    <button  type="submit" class="submit">{% trans 'sign in' %}</button>
<!--    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>-->
    </form>
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>{% trans 'New here?' %}</h2>
        <p>{% trans 'Sign up and discover great amount of new opportunities!' %}</p>
      </div>
      <div class="img__text m--in">
        <h2>{% trans 'One of us?' %}</h2>
        <p>{% trans 'If you already has an account, just sign in. We\'ve missed you!' %}</p>
      </div>
      <div class="img__btn">
        <span class="m--up">{% trans 'sign up' %}</span>
        <span class="m--in">{% trans 'sign in' %}</span>
      </div>
    </div>
    <div id="newUser" class="form sign-up">
        <p>{% trans 'Error loading form, please refresh the browser (press F5)' %}</p>
    </div>
  </div>
</div>
</div>
<!-- partial -->
<script>
$.ajax({
   url: '{% url "profile:create" %}',
   type: 'get',
   data: {}
}).done(function(data) {
  var y = document.getElementById('newUser');
  y.innerHTML = data;
});
document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});

function sendForm() {
        var form = $("#formulario2").serialize(); // serializes the form's elements.
        $.ajax({
           type: "post",
           url: '{% url "profile:create" %}',
           data: form,
        }).done(function(data) {
          var y = document.getElementById('newUser');
          y.innerHTML = data;
          confirmation()
          });
};

function confirmation() {
  if($("#formulario3").length != 0) {
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: '{% trans 'Your account has been created' %}',
        text: '{% trans 'Fill out these extra information and login' %}',
        showConfirmButton: false,
        timer: 2500
      })
      $("#id_phone").prop('required',true);
  }
}
$(document).ajaxComplete(function() {
  $("id_phone").prop('required',true);
});
</script>
</body>
</html>
