<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login and signup</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" type="text/css" href="{% static '/style_login.css' %}">
    <!--ajax.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--ajax.js-->
  <!--    swal alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158817582-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-158817582-1');
    </script>

</head>
<body>
<div>
<div class="cont">
  <div class="form sign-in">
    <form id="formulario"  method="post">
          {% csrf_token %}
    <h2>{% trans 'Welcome back,' %}</h2>
    <label>
      <span>{% trans 'Username' %} {% trans 'or' %} {% trans 'Email' %}</span>
      {{ form.username }}
      {{form.username.errors}}
    </label>
    <label>
      <span>{% trans 'Password' %}</span>
      {{ form.password }}
      {{form.password.errors}}
    </label>
      {{ form.non_field_errors }}

<!--    <p class="forgot-pass"><a href="#">{% trans 'Forgot password?' %}</a></p>-->
    <button  type="submit" class="submit">{% trans 'sign in' %}</button>
<!--    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>-->
    </form>
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>{% trans 'New here?' %}</h2>
        <p>{% trans 'Sign up and discover great amount of new opportunities!' %}</p>
      </div>
      <div class="img__text m--in">
        <h2>{% trans 'One of us?' %}</h2>
        <p>{% trans "If you already has an account, just sign in. We've missed you!" %}</p>
      </div>
      <div class="img__btn">
        <span class="m--up">{% trans 'sign up' %}</span>
        <span class="m--in">{% trans 'sign in' %}</span>
      </div>
    </div>
    <div id="newUser" class="form sign-up">
        <p>{% trans 'Error loading form, please refresh the browser (press F5)' %}</p>
    </div>
  </div>
</div>
</div>
<!-- partial -->
<script>
$.ajax({
   url: '{% url "profile:create" %}',
   type: 'get',
   data: {}
}).done(function(data) {
  var y = document.getElementById('newUser');
  y.innerHTML = data;
});
document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});

function sendForm() {
        var form = $("#formulario2").serialize(); // serializes the form's elements.
        $.ajax({
           type: "post",
           url: '{% url "profile:create" %}',
           data: form,
        }).done(function(data) {
            var y = document.getElementById('newUser');
            y.innerHTML = data;
            document.getElementById('id_photo').addEventListener('change', imageChange);
          });
};

function confirmation() {
  if($("#formulario3").length != 0) {
      Swal.fire({
        position: 'top-center',
        icon: 'success',
        title: '{% trans 'Your account has been created' %}',
        text: '{% trans 'Fill out this extra information and login' %}',
        showConfirmButton: false,
        timer: 2500
      })
      $("#id_phone").prop('required',true);
  }
}
function imageChange () {
    url = $('#url_img').text()
  $("#id_image").attr("src", url);
}
function imageChange(evt){
    var files = evt.target.files;
    //Obtenemos la imagen del campo "file".
    for (var i = 0, f; f = files[i]; i++) {
       //Solo admitimos imágenes.
       if (!f.type.match('image.*')) {
            continue;
       }
       var reader = new FileReader();
       reader.onload = (function(theFile) {
           return function(e) {
           // Creamos la imagen.
           document.getElementById("id_image").innerHTML = ['<img class="responsive-img"  src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
        };
       })(f);
       reader.readAsDataURL(f);
    }
}
function sendForm3() {
        var form = new FormData($('#formulario3').get(0));
        var urls =$("#url").text();
        $.ajax({
           type: "post",
           url: urls,
           data: form,
           cache: false,
           contentType: 'multipart/form-data',
           processData: false,
           contentType: false,
        }).done(function(data) {
          if( data.length < 4000){
          var y = document.getElementById('newUser');
          y.innerHTML = data;
          document.getElementById('id_photo').addEventListener('change', imageChange);
          }
          else{
            location.reload(true);
          }
          });
};
</script>
</body>
</html>
