<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Login/Registration Form Transition</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <!--ajax.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--ajax.js-->
</head>
<body>
<!-- partial:index.partial.html -->
<p class="tip"></p>
<div class="cont">

  <div class="form sign-in">
    <form id="formulario" action="{% url 'account:login' %}" method="post">
          {% csrf_token %}
    <h2>Welcome back,</h2>
    <label>
      <span>Email</span>
      {{ form.username }}
    </label>
    <label>
      <span>Password</span>
      {{ form.password }}
    </label>
    <p class="forgot-pass">Forgot password?</p>
    <button  type="submit" class="submit">Sign In</button>
<!--    <button type="button" class="fb-btn">Connect with <span>facebook</span></button>-->
    </form>
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div id="newProfile" class="form sign-up">
     <form id="formulario2" action="{% url 'profile:create' %}" method="post">
      <label>
        <span>Name</span>
        {{ form.username }}
      </label>
      <label>
        <span>First Name</span>
        {{ form.first_name }}
      </label>
      <label>
        <span>Last Name</span>
        {{ form.last_name }}
      </label>
      <label>
        <span>email</span>
        {{ form.email }}
      </label>
      <label>
        <span>Password</span>
        {{ form.password1 }}
      </label>
      <label>
        <span>Password</span>
        {{ form.password2 }}
      </label>
      <button type="submit" class="submit">Sign Up</button>
<!--      <button type="button" class="fb-btn">Join with <span>facebook</span></button>-->
     </form>
    </div>
  </div>
</div>

<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>
<a href="https://twitter.com/NikolayTalanov" target="_blank" class="icon-link icon-link--twitter">
  <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
</a>
<!-- partial -->
<script>
$.ajax({
   url: '{% url "profile:create" %}',
   type: 'get',
   data: {}
}).done(function(data) {
  var y = document.getElementById('newProfile');
  y.innerHTML = data;
});
document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
</script>
</body>
</html>
