{% load i18n %}
<style>
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
input {
    width: 100%;
}
textarea {
  width: 100%;
}
</style>
<h3 class="h4 text-black widget-title mb-3">{% trans 'Contact Agent' %}</h3>
<form  id="idForm" class="form-contact-agent" method="post">{% csrf_token %}
    {% if form %}
        <div class="form-group">
          <label class="col-md-12 col-sm-12 col-xs-12 control-label">
            <i class="fas fa-id-card-alt"></i>&nbsp;{{form.name.label}}<span style="color:red;"> *</span></label>
          {{form.name}}
        </div>
        <div class="form-group">
          <label class="col-md-12 col-sm-12 col-xs-12 control-label">
            <i class="fas fa-phone-square-alt"></i>&nbsp;{{form.phone.label}}<span style="color:red;"> *</span></label>
          {{form.phone}}
        </div>
        <div class="form-group">
          <label class="col-md-12 col-sm-12 col-xs-12 control-label">
            <i class="fas fa-at"></i>&nbsp;{{form.email.label}}</label>
          {{form.email}}
        </div>
        <div class="form-group">
          <label class="col-md-12 col-sm-12 col-xs-12 control-label">
            <i class="fas fa-envelope"></i>&nbsp;{{form.message.label}}</label>
          {{form.message}}
        </div>
        {% if form.errors %}
            <div class="alert alert-info" style="font-weight: bold;">
              {{form.name.errors}}
              {{form.phone.errors}}
              {{form.email.errors}}
              {{form.message.errors}}
            </div>
        {% endif %}
        <div class="form-group">
          <input type="submit" id="phone" class="btn btn-primary" style="background-color:#364e68" value="{% trans 'Send Message' %}">
        </div>
    {% endif %}
    <p>{{mess}}</p>
</form>