{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Email Contact</title>
   
   <style type="text/css">
       .card {
          position: relative;
          margin: .5rem 0 1rem 0;
          background-color:white;
          -webkit-transition: -webkit-box-shadow .25s;
          transition: -webkit-box-shadow .25s;
          transition: box-shadow .25s;
          transition: box-shadow .25s, -webkit-box-shadow .25s;
          border-radius: 2px;
      }
   </style>
</head>

<body>


<div style="padding: 15px;width: 65%;height: 280px;box-shadow: 0px 3px 9px 5px rgba(0,0,0,0.75);" align="center" class="card">
  <div style="text-align: left;width: 100%;">
    <h2>Cliente Interesado</h2>
  </div>

  <div style="background-color: #eee !important;width: 45%;float: left;margin-left:2%; margin-right: 4%;">
      <div style="text-align: center;">
 
        <p class="color" style="margin-bottom: 8%;">Nombre:&nbsp;&nbsp;<strong style="font-size: 22px;">{{data.name}}</strong></p>
        <p class="color" style="margin-bottom: 7%;">Email:&nbsp;&nbsp;<strong style="font-size: 22px;">{{data.email}}</strong></p>
        <p class="color">Telefono:&nbsp;&nbsp;<strong style="font-size: 22px;">{{data.phone}}</strong></p>
      </div>
  </div>

  <div style="width: 45%; float: left;">
    <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202.">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF-52JbMRNbBkkd_2z6yjU_0xD-7ygQ9I9Wu7GN9MScDhQD04L&s"  width="200" height="150">
    </a>
  </div>
</div>

<div style=" padding: 15px;width: 65%;height: 560px; box-shadow: 0px 3px 9px 5px rgba(0,0,0,0.75)" align="center" class="card">
 {% with address=data.propiedad.address_col.get %}
  <div style="text-align: left;width: 100%;">
    <h2>{{data.propiedad.title}}</h2>  
  </div>  

  <div style="width: 50%;float: left;margin-left:2%;margin-right: 4%;background-color: #eee !important;">
      <div style="text-align: center;">
         <img src="https://i.blogs.es/8e8f64/lo-de-que-comprar-una-casa-es-la-mejor-inversion-hay-generaciones-que-ya-no-lo-ven-ni-de-lejos---1/450_1000.jpg" width="100%" height="250">
      </div>
      {{address}}
       <br/>
     <div style="text-align: left;padding-bottom: 1%;margin:9px;">
       {{data.propiedad.description}}
     </div>
  </div>

  <div style="width: 40%; float: left;background-color: #eee !important;">
    <div style="text-align: left;margin-left: 4%;">
      <p class="color"><strong>Tipo Propiedad: </strong>{{data.propiedad.type_property}}</p>
      <p class="color"><strong>Precio: </strong>{{data.propiedad.price}}</p>
      <p class="color"><strong>Habitaciones: </strong>{{data.propiedad.rooms}}</p>
      <p class="color"><strong>Baños: </strong>{{data.propiedad.baths}}</p>
      <p class="color"><strong>Estacionamiento: </strong>{{data.propiedad.parking}}</p>
      <p class="color"><strong>Área construida: </strong>{{data.propiedad.area_built}}</p>
      <p class="color"><strong>Área Total : </strong>{{data.propiedad.area_total}}</p>
      <p class="color"><strong>Éstrato: </strong>{{data.propiedad.estrato}}</p>
      <p class="color"><strong>Año: </strong>{{data.propiedad.year}}</p>
      <p class="color"><strong>Codigo: </strong>{{data.propiedad.code}}</p>
    </div>
  </div>

  <div>
      <p style="text-align: center; font-size: 17px;margin-top: 55%;font-weight: bold">Correo electrónico enviado autoamticamente. No responder. Preguntas o requerimientos, por favor contáctenos en xxxx@xxxxxxx.xxx!
      </p>
  </div>

</div>
 {% endwith %}
</body>
</html>
