{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">

<head>
    <!-- META SECTION -->
    <title>Codigo_campana</title>
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    
    <link href="{{site}}{% static 'css/all.css' %}" rel='stylesheet'/>
   
    <link rel="stylesheet" type="text/css" href="{{site}}{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{{site}}{% static 'css/bootstrap.min.css' %}">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- END META SECTION 
    -->

    <!-- Latest compiled and minified CSS -->

   <style type="text/css">
       .color{
           color: black;
        }
   </style>
</head>

<body>
<!--    <div class="container " style="background-image: url(cid:{% static '/img/fondo-cumple.png' %}); background-repeat: no-repeat; background-size: cover;">-->

      
        


<div class="information" id="descripcion" style="font-weight: bold;float: left; margin-right: 1%;width: 20%;margin-left: 1%;margin-top:11%">    
    <div class="alert alert-info" style="font-weight: bold;">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h4 class="title" style="color: #2b6c7a;text-align: center;text-align: center;">Cliente Interesado</h4>
                    <br>
                    <p class="color" style="margin-bottom: 11%;">Nombre <br/><strong style="font-size: 22px;">{{data.name}}</strong></p>
                    <p class="color" style="margin-bottom: 11%;">Email <br/><strong style="font-size: 22px;">{{data.email}}</strong></p>
                    <p class="color" style="margin-bottom: 11%;">Telefono <br/><strong style="font-size: 22px;">{{data.phone}}</strong></p>
           </div>
        </div>
    </div>
    <div style="text-align: center;margin-top: 14%;">
        <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." id="Idwhatsapp" class="float" target="_blank">
            <i class="fa fa-whatsapp" style="color: green; font-size: 100px; padding-left: 9%;"></i>
        </a>
             <p class="card-text">
                <small class="text-muted">&nbsp;&nbsp;Comunicame Ahora con Camilo</small>
            </p>
    </div>

</div>

{% with address=data.propiedad.address_col.get %}
<div class="card mb-3" style="width: 35%;">
  <img src="https://i.blogs.es/8e8f64/lo-de-que-comprar-una-casa-es-la-mejor-inversion-hay-generaciones-que-ya-no-lo-ven-ni-de-lejos---1/450_1000.jpg" alt="...">
  
  <div class="alert alert-info" style="text-align: center;height: 76px;">
      <h4 class="" style="text-align: center;">{{address}}</h4>
      <strong> 
        <p class="color">{{data.propiedad.title}}</p>
      </strong>
  </div>
  
  <div style="width: 100%;">
      <div style="width: 40%;float: left;padding: 2%;">
            
                <p class="color"><strong>Tipo Propiedad: </strong>{{data.propiedad.type_property}}</p>
                <p class="color"><strong>Precio: </strong>{{data.propiedad.price}}</p>
                <p class="color"><strong>Habitaciones: </strong>{{data.propiedad.rooms}}</p>
                <p class="color"><strong>Baños: </strong>{{data.propiedad.baths}}</p>
                <p class="color"><strong>Estacionamiento: </strong>{{data.propiedad.parking}}</p>
                <p class="color"><strong>Área construida: </strong>{{data.propiedad.area_built}}</p>
                <p class="color"><strong>Área Total : </strong>{{data.propiedad.area_total}}</p>
                <p class="color"><strong>Éstrato: </strong>{{data.propiedad.estrato}}</p>
                <p class="color"><strong>Año: </strong>{{data.propiedad.year}}</p>
                <p class="color"><strong>Codigo: </strong>{{data.propiedad.code}}</p>
       
       </div>
      <div style="width: 60%;float: right;padding:2%;">
            <p class="color"><strong>Descripcion:
                <br/> 
                </strong>{{data.propiedad.description0|linebreaks}}
            </p>
      </div>
  </div>
</div>
{% endwith %}

<div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="Pcol-md-12 ">
                    <p style="text-align: center; font-size: 17px">Correo electrónico enviado autoamticamente. No responder. Preguntas o requerimientos, por favor contáctenos en xxxx@xxxxxxx.xxx!
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
  <!-- 

  -->
    
 
</body>
</html>
