<!DOCTYPE html>
{% load static %}
{% load property_tags %}
{% load i18n %}
<html lang="en">
  <head>
    <title>Inmuebles Fusa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/fl-bigmug-line.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--fontawesome-->
    <link href="{% static 'css/fontawesome-free-5.11.2-web/css/all.css' %}" rel='stylesheet'/>
    <!--fontawesome-->
    <!--    swal alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158817582-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158817582-1');
    </script>

    <style type="text/css">
      .iconos{
        .color: #7f7f7f;
      }
      #myInput {
        padding: 20px;
        margin-top: -6px;
        border: 0;
        border-radius: 0;
        background: #f1f1f1;
      }

      .buttonMenu {
        color: #fff !important;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: rgba(0,0,0,0);
        border: 2px solid;
        border-color: #fff;
        transition: all 1s ease;
        position: relative;
      }
      .buttonMenu:hover {
        background: black;
        color: #fff !important;
        border-color: black;
      }
      .miCuenta:hover {
        background: #004085;
        color: white !important;
      }
      .textMiCuenta{
        margin: 0%;
        font-weight: bold;
        cursor: pointer;
      }

      .espacio{
        padding: 2%;
        z-index: 1000;
      }
      .opcionElegida{
        text-align:center;
        margin-top: 5%;
        display: none;
      }
      .search{
        margin-top: 2%;
        margin-right: 1%;
       /* margin-left: 2em;*/
      }
      .btnSelect{
        width: 14em;/* 1oem text-align: left;*/
        height: 3em;
        font-size: 0.7em;

      }
      .btnSelect2{
        width: 10.5em;
        height: 3em;
        padding-left: 1px;
        font-size: 0.7em;
        text-align: left;
      }
      .ul{
        width: 15em;
      }
      .ulFiltros{
          width: 41em;
          height: 30em;
          margin-left: -350%;
      }
      .textDropDawn{
        margin-left: 10%;
        font-weight: bold;
        color: #364e68;
      }
      .divMinimo{
        width: 49%;
        float: left;
      }
      .selecBorde{
        border: solid 1px #364e68;
      }
      .divMaximo{
        float: right;
        width: 49%;
      }
      .margen{
        margin-top: -100px;
      }
      .divMargen{
        margin-top: -3%;
      }
      .pCopyRigth{
        font-size:10px;
      }
      .icon{
        padding-left: 3px;
      }
      .intro {
        font-size: 150%;
        color: red;
      }
      .fadeOutRight{
        animation-duration: 1s
      }

      @media screen and (max-width:550px) {
        .btnSelect {
            width: 42.5em;
        }
      }

      @media screen and (max-width:768px) {
        .btnSelect {
            width: 100%;
        }
      }
      @media screen and (max-width:994px) and (min-width:768px) {
        .btnSelect {
            width: 11em;
            padding-left: 0px;
        }
        .size{
           font-size: 9px;
        }
        .search{
           margin-right: 11px;
        }
      }
      @media screen and (min-width:994px) {
        .btnSelect {
            width: 14em;
        }
      }
    </style>
</head>
<body>
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
<!-- The account Modal -->
  {% include 'properties/my_account.html' %}
  <div class="site-loader"></div>
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar mt-4">
        <div class="container py-1">
          <div class="row align-items-center">
            {% include 'properties/top_nav.html' %}
          </div>
        </div>
        <div class="social">
          <ul class="languages">
            {% for language in languages %}
            <li>
              <a href="/{{ language.code }}" class="flag-lng" title="{% trans 'Change lenguage' %}"
                 {% if language.code == LANGUAGE_CODE %} class="selected" hidden {% endif %}>
                <i class="fas fa-language"></i> {{ language.name_local|title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% show_promoted_props 3%}
    <div class="site-section site-section-sm pb-0">
      <div class="container">
        <div class="row">
          <form id=idForm method="get" class="form-search col-md-12 margen">
            <div class="row  align-items-end divMargen">
                <div class="col-md-2">
                  <label for="list-types">{% trans 'Listing Types' %}</label>
                  <select name="list-types" id="list-types" class="form-control rounded-0">
                    <option value="ALL">{% trans 'All' %}</option>
                    <option value="APT">{% trans 'Apartments' %}</option>
                    <option value="HOU">{% trans 'Houses' %}</option>
                    <option value="LAN">{% trans 'Lands' %}</option>
                    <option value="COM">{% trans 'Commercial' %}</option>
                    <option value="FAR">{% trans 'Farms' %}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="offer-types">{% trans 'Offer Type' %}</label>
                  <select name="offer-types" id="offer-types" class="form-control rounded-0">
                      <option value="ALL">{% trans 'All' %}</option>
                      <option value="SALE / VENTA">{% trans 'For Sale' %}</option>
                      <option value="RENT / ARRENDAMIENTO">{% trans 'For Rent' %}</option>
                      <option value="SWAP / PERMUTA">{% trans 'For Swap' %}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="condition">{% trans 'Condition' %}</label>
                  <select name="condition" id="condition" class="form-control rounded-0">
                    <option value="ALL">{% trans 'All' %}</option>
                    <option value="NEW">{% trans 'New' %}</option>
                    <option value="PLA">{% trans 'Off-Plan' %}</option>
                    <option value="STA">{% trans 'On Construction' %}</option>
                    <option value="USE">{% trans 'Used' %}</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="select-city">{% trans 'Select City' %}</label>
                  <select name="select-city" id="select-city" class="form-control rounded-0">
                    <option  value="ALL">{% trans 'All' %}</option>
                  </select>
                  <p id=all hidden>{% trans 'All' %}</p>
                </div>
                <div class="col-md-3">
                  <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="{% trans 'Search' %}">
                </div>

            </div>
            <div class="row">
               <div class="col-md-2  search">
                  <div>
                    <button class="btn btn-default dropdown-toggle buttonMenu btnSelect" id="btnHab" type="button" data-toggle="dropdown">
                      <i class="fas fa-bed"></i>&nbsp;&nbsp;{% trans 'Rooms' %}
                      <span id="textHabiMi"></span>
                      <span id="textHabiMa"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu filtro ul" id="id_dropdownHab">
                      <span class="textDropDawn">{% trans 'Number of' %} {% trans 'rooms' %}
                      </span>
                      <li class="espacio">
                        <div class="divMinimo selecBorde">
                          <select name="room_min" id="selectMinimo" class="form-control">
                            <option value="" disabled selected>{% trans 'Minimum' %}</option>
                            <option value="ALL">min</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                        <div class="divMaximo selecBorde">
                          <select name="room_max" id="selectMaximo" class="form-control">
                            <option value="" disabled selected>{% trans 'Maximum' %}</option>
                            <option value="ALL">max</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-2 search">
                  <div>
                    <button class="btn btn-default dropdown-toggle buttonMenu btnSelect" id="btnBan" type="button" data-toggle="dropdown"><i class="fas fa-bath"></i>&nbsp;&nbsp;{% trans 'Bathrooms' %}
                    <span id="textBanMi"></span>
                    <span id="textBanMa"></span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu filtro ul" id="id_dropdownBan">
                      <span  class="textDropDawn">{% trans 'Number of' %} {% trans 'bathrooms' %}
                      </span>
                      <li class="espacio" >
                        <div class="divMinimo selecBorde">
                          <select name="bath_min" id="selectMinBa" class="form-control">
                            <option value="" disabled selected>{% trans 'Minimum' %}</option>
                            <option value="ALL">min</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                        </div>
                        <div class="divMaximo selecBorde">
                          <select name="bath_max" id="selectMaxBa" class="form-control">
                            <option value="" disabled selected>{% trans 'Maximum' %}</option>
                            <option value="ALL">max</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                          </select>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-2 search">
                  <div class="dropdownAre">
                    <button class="btn btn-default dropdown-toggle buttonMenu btnSelect" id="btnAre" type="button" data-toggle="dropdown">
                      <i class="fas fa-chart-area icon"></i><span  class="size">&nbsp;{% trans 'Area' %}</span>
                    <span id="textAreMi" class="size"></span>
                    <span id="textAreMa" class="size">m²</span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu filtro ul" id="id_dropdownAre">
                      <span class="textDropDawn">{% trans 'Area m²' %}</span>
                      <li class="espacio">
                        <div class="divMinimo selecBorde">
                          <select name="area_min" id="selectMinAre" class="form-control">
                            <option value="" disabled selected>{% trans 'Minimum' %}</option>
                            <option value="ALL">min</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="3000">3000</option>
                            <option value="4000">4000</option>
                            <option value="5000">5000</option>
                          </select>
                        </div>
                        <div class="divMaximo selecBorde">
                          <select name="area_max" id="selectMaxAre" class="form-control">
                            <option value="" disabled selected>{% trans 'Maximum' %}</option>
                            <option value="ALL">max</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="250">250</option>
                            <option value="350">350</option>
                            <option value="450">450</option>
                            <option value="550">550</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="3000">3000</option>
                            <option value="4000">4000</option>
                            <option value="5000">5000</option>
                             <option value="10000">10000</option>
                          </select>
                        </div>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="col-md-2 search">
                  <div>
                    <button class="btn btn-default dropdown-toggle buttonMenu btnSelect" id="btnPre" type="button" data-toggle="dropdown"><i class="fas fa-money-bill-alt icon"></i><span  class="size">&nbsp;{% trans 'Price' %}</span>
                    <span id="textPreMi" class="size"></span>
                    <span id="textPreMa" class="size"></span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu filtro ul" id="id_dropdownPre">
                      <span class="textDropDawn">{% trans 'Price' %} ({% trans 'Millions' %})</span>
                      <li class="espacio">
                        <div class="divMinimo selecBorde">
                          <select name="price_min" id="selectMinPre" class="form-control">
                            <option value="" disabled selected>{% trans 'Minimum' %}</option>
                            <option value="ALL">min</option>
                            <option value="100000000">100</option>
                            <option value="200000000">200</option>
                            <option value="300000000">300</option>
                            <option value="400000000">400</option>
                            <option value="500000000">500</option>
                            <option value="600000000">600</option>
                            <option value="700000000">700</option>
                            <option value="800000000">800</option>
                            <option value="900000000">900</option>
                            <option value="1000000000">1.000</option>
                            <option value="2000000000">2.000</option>
                            <option value="3000000000">3.000</option>
                            <option value="4000000000">4.000</option>
                            <option value="5000000000">5.000</option>
                            <option value="6000000000">6.000</option>
                            <option value="7000000000">7.000</option>
                            <option value="8000000000">8.000</option>
                          </select>
                        </div>
                        <div class="divMaximo selecBorde">
                          <select name="price_max" id="selectMaxPre" class="form-control">
                            <option value="" disabled selected>{% trans 'Maximum' %}</option>
                            <option value="ALL">max</option>
                            <option value="150000000">150</option>
                            <option value="250000000">250</option>
                            <option value="350000000">350</option>
                            <option value="450000000">450</option>
                            <option value="550000000">550</option>
                            <option value="650000000">650</option>
                            <option value="750000000">750</option>
                            <option value="850000000">850</option>
                            <option value="950000000">950</option>
                            <option value="1500000000">1.500</option>
                            <option value="2500000000">2.500</option>
                            <option value="3500000000">3.500</option>
                            <option value="4500000000">4.500</option>
                            <option value="5500000000">5.500</option>
                            <option value="6500000000">6.500</option>
                            <option value="7500000000">7.500</option>
                            <option value="8500000000">8.500</option>
                          </select>
                          </select>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="col-md-2 search" hidden>
                  <div>
                    <button class="btn btn-default dropdown-toggle buttonMenu btnSelect" type="button" data-toggle="dropdown">
                      <i class="fas fa-filter"></i>&nbsp;&nbsp;{% trans 'Filters' %}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu filtro ulFiltros">
                      <span class="textDropDawn">{% trans 'More' %} {% trans 'filters' %}</span>
                    </ul>
                  </div>
                </div>

             </div>
          </form>

            </div>
          <br/>
        </div>
      </div>
    </div>
    <div id="propys" class="site-section site-section-sm bg-light">
     {% include  'properties/property_list.html' %}
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <div class="site-section-title">
              <h2>{% trans 'Why Choose Us?' %}</h2>
            </div>
            <p>{% trans "Although this is a brand new platform, our team has many years of experience buying and selling properties in the region." %} {% trans "During this time we have gain reputation" %}
              {% trans "and are locally known in the real state and contruction bussines" %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-house"></span>
              <h2 class="service-heading">{% trans 'Responsability' %}</h2>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-sold"></span>
              <h2 class="service-heading"> {% trans 'Satisfied Customers' %}</h2>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="service text-center">
              <span class="icon flaticon-camera"></span>
              <h2 class="service-heading">{% trans 'Legal advise' %}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
<!--    <div  class="site-section">-->
<!--    <div class="container">-->
<!--      <div class="row mb-5 justify-content-center">-->
<!--        <div class="col-md-7">-->
<!--          <div class="site-section-title text-center">-->
<!--            <h2>{% trans 'Our Team' %}</h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam officiis ipsa eum pariatur labore fugit amet eaque iure vitae, repellendus laborum in modi reiciendis quis! Optio minima quibusdam, laboriosam.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">-->
<!--            <div class="team-member">-->

<!--              <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid rounded mb-4">-->

<!--              <div class="text">-->

<!--                <h2 class="mb-2 font-weight-light text-black h4">Megan Smith </h2>-->
<!--                <span class="d-block mb-3 text-white-opacity-05">Real Estate Agent</span>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem totam non quis facere blanditiis praesentium est. Totam atque corporis nisi, veniam non. Tempore cupiditate, vitae minus obcaecati provident beatae!</p>-->
<!--                <p>-->
<!--                  <a href="#" class="text-black p-2"><span class="icon-facebook"></span></a>-->
<!--                  <a href="#" class="text-black p-2"><span class="icon-twitter"></span></a>-->
<!--                  <a href="#" class="text-black p-2"><span class="icon-linkedin"></span></a>-->
<!--                </p>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">{% trans 'About Inmuebles Fusa' %}</h3>
              <p>{% trans "Inmuebles Fusa is an online real state based in Fusagasugá, Cundinamarca. Our goal is to make it easier for you to sell, rent, swap or buy properties." %}
                {% trans "Although this platform is quite new, our team has vast experience and reputation on real state and they are ready to offer you the best possible advice." %}
                 </p>
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">{% trans 'Navigations' %}</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled idBuy">
                  <li><a href="#">{% trans 'Home' %}</a></li>
                  <li><a href="#" class="ClassBuy">{% trans 'Buy' %}</a></li>
                  <li><a href="#" class="idRent">{% trans 'Rent' %}</a></li>
                  <li><a href="#" class="idSwap">{% trans 'Swap' %}</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">{% trans 'About Us' %}</a></li>
                  <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                  <li><a href="#">{% trans 'Contact Us' %}</a></li>
                  <li><a href="#">{% trans 'Terms' %}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">{% trans 'Follow Us' %}</h3>
                <div>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
          </div>
          <span id="session">{{ request.session.visits }}</span>
        </div>
<!--        <div class="row pt-5 mt-5 text-center">-->
<!--          <div class="col-md-12">-->
<!--            <p class="pCopyRigth">-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </footer>
  <a href="https://api.whatsapp.com/send?phone=573108181802&text=Quisiera%20mas%20informacion%20sobre%20los%20inmuebles%20y%20servicios%20que%20ofrecen" class="float" target="_blank">
  <i class="fab fa-whatsapp"></i>
  </a>

  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
  //keep filters when adding favorites - mantener filtros click en favoritos
    var page = $("#active").text()
    function follows(id){
        $.ajax({
        url: '{% url "property:index" %}',
        type: 'get',
        data: {'prop_id': id, 'follow':1,}
         }).done(function(data) {
         var id = "#"+JSON.parse(data.prop_id)
         var command = JSON.parse(data.command)
        if (command == 1) {
            $(id).removeClass("property-favorite");
            $(id).addClass("property-unfavorite");
            $(id).prop('title', '{% trans 'Remove from favourites' %}');
        }else if(command == 0){
            $(id).removeClass("property-unfavorite");
            $(id).addClass("property-favorite");
            $(id).prop('title', '{% trans 'Add to favourites' %}');
        }else if(command == 2){
          swal.fire("{%trans 'Cannot add it to favourites!'%}", "{% trans 'You pubished this property' %}", "error");
        }
        else {
         Swal.fire({
                title: 'Add to favourites',
                text: "{% trans 'You need to login to add property to favorites' %}",
                showCancelButton: true,
                confirmButtonColor: '#364e68',
                cancelButtonColor: '#bb1f1f',
                cancelButtonText: 'cancel',
                confirmButtonText: 'login',
            }).then((result) => {
                if (result.value) {
                    window.location.href='{% url "account:login" %}'
                }
             });
             }
     });
     }
     function filter_remove(index){
     $.ajax({
        url: '{% url "property:index" %}',
        type: 'get',
        data: {'remove':index, 'current_filters':$("#filters").text()}
         }).done(function(data) {
            var y = document.getElementById('propys');
              y.innerHTML = data;
              $('html, body').animate({
                scrollTop: $('#propys').offset().top
              }, 'slow');
          });
     }
     function clear_filters(index){
      location.reload(true);
     }

    //Habitaciones
    $("#selectMinimo").click(function(e){
      e.stopPropagation()
    });
    $("#selectMinimo").change(function(){
      $("#textHabiMi").text( $("#selectMinimo option:selected").text() )
    });
    $("#selectMaximo").click(function(e){
      e.stopPropagation()
    });
    $("#selectMaximo").change(function(){
       $("#textHabiMa").text( ' - '+$("#selectMaximo option:selected").text())
    });

    //Baños
    $("#selectMinBa").click(function(e){
      e.stopPropagation()
    });
    $("#selectMinBa").change(function(){
      $("#textBanMi").text( $("#selectMinBa option:selected").text() )
    });
    $("#selectMaxBa").click(function(e){
      e.stopPropagation()
    });
    $("#selectMaxBa").change(function(){
      $("#textBanMa").text( ' - '+$("#selectMaxBa option:selected").text() )
    });

    //Area
    $("#selectMinAre").click(function(e){
      e.stopPropagation()
    });
    $("#selectMinAre").change(function(){
      $("#textAreMi").text( $("#selectMinAre option:selected").text() )
    });
    $("#selectMaxAre").click(function(e){
      e.stopPropagation()
    });
    $("#selectMaxAre").change(function(){
      $("#textAreMa").text( ' - '+$("#selectMaxAre option:selected").text()+' m2' )
    });

    //Precio selectMinPre
    $("#selectMinPre").click(function(e){
      e.stopPropagation()
    });
    $("#selectMinPre").change(function(){
      $("#textPreMi").text( '$'+$("#selectMinPre option:selected").text() )
    });
    $("#selectMaxPre").click(function(e){
      e.stopPropagation()
    });
    $("#selectMaxPre").change(function(){
      $("#textPreMa").text( '- '+$("#selectMaxPre option:selected").text() );
    });


    //cerrar modal mi cuenta
    $("#btnClose").click(function(){
        $(".liBtnCuenta").addClass('animated infinite  heartBeat');//heartBeat
        $("#myModal").addClass('animation-duration: 1s fadeOutRight');
        var cont = 0;
        var id = setInterval( function(){
          cont++;
          if( cont == 1 ) {
              $("#myModal").removeClass('animation-duration: 1s fadeOutRight');

              $("#myModal").modal('hide');
          }else if( cont == 3 ){
            $(".liBtnCuenta").removeClass('animated heartBeat');
            clearInterval( id );
          }
        },500);
    });

    $(".myInput").on("keyup", function() {
      var dato = $(this).val().toLowerCase();
      $(".menuLi li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(dato) > -1)
      });

      var dato1 = $(this).val().toLowerCase();
      $(".filtr|o li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(dato1) > -1)
      });

    });

    $(".idBuy > li .ClassBuy").click(function(){
        $(".idBuy > li .ClassBuy").removeAttr("href");
        $.ajax({
           url: '{% url "property:index" %}',
           type: 'get',
           data: { 'offer-types': 'SALE / VENTA' }
        }).done(function(data) {
          var y = document.getElementById('propys');
          y.innerHTML = data;
          $('html, body').animate({
              scrollTop: $('#propys').offset().top
          }, 'slow');
        });
    });

    $(".idBuy > li .idRent").click(function(){
        $(".idBuy > li .idRent").removeAttr("href");
        $.ajax({
           url: '{% url "property:index" %}',
           type: 'get',
           data: { 'offer-types': 'RENT / ARRENDAMIENTO' }
        }).done(function(data) {
          var y = document.getElementById('propys');
          y.innerHTML = data;
          $('html, body').animate({
              scrollTop: $('#propys').offset().top
          }, 'slow');
        });
    });

    $(".idBuy > li .idSwap").click(function(){
        $(".idBuy > li .idSwap").removeAttr("href");
        $.ajax({
          url: '{% url "property:index" %}',
          type: 'get',
          data: { 'offer-types': 'SWAP / PERMUTA' }
        }).done(function(data) {
          var y = document.getElementById('propys');
          y.innerHTML = data;
          $('html, body').animate({
              scrollTop: $('#propys').offset().top
          }, 'slow');
        });
    });

    $('#liAparta > li .liAparta').click(function () {
        $('#liAparta > li .liAparta').removeAttr("href");
        $.ajax({
            url: '{% url "property:index" %}',
            type: 'get',
            data: { 'list-types': 'APT'
             }
        }).done(function(data) {
           var y = document.getElementById('propys');
           y.innerHTML = data;
           $('html, body').animate({
            scrollTop: $('#propys').offset().top
            }, 'slow');
        });
    });

    $('#liAparta > li .liHouses').click(function () {
        $('#liAparta > li .liHouses').removeAttr("href");
        $.ajax({
            url: '{% url "property:index" %}',
            type: 'get',
            data: { 'list-types': 'HOU' }
        }).done(function(data) {
           var y = document.getElementById('propys');
           y.innerHTML = data;
           $('html, body').animate({
              scrollTop: $('#propys').offset().top
              }, 'slow');
        });
    });

    $('#liAparta > li .liLand').click(function () {
        $('#liAparta > li .liLand').removeAttr("href");
        $.ajax({
            url: '{% url "property:index" %}',
            type: 'get',
            data: { 'list-types': 'LAN' }
        }).done(function(data) {
           var y = document.getElementById('propys');
           y.innerHTML = data;
           $('html, body').animate({
              scrollTop: $('#propys').offset().top
              }, 'slow');
        });
    });

    $('#liAparta > li .liCommercial').click(function () {
        $('#liAparta > li .liCommercial').removeAttr("href");
        $.ajax({
            url: '{% url "property:index" %}',
            type: 'get',
            data: { 'list-types': 'COM' }
        }).done(function(data) {
          var y = document.getElementById('propys');
          y.innerHTML = data;
          $('html, body').animate({
            scrollTop: $('#propys').offset().top
          }, 'slow');
        });
    });

    $('#liAparta > li .liFarms').click(function () {
        $('#liAparta > li .liFarms').removeAttr("href");
        $.ajax({
            url: '{% url "property:index" %}',
            type: 'get',
            data: { 'list-types': 'FAR' }
        }).done(function(data) {
            var y = document.getElementById('propys');
            y.innerHTML = data;
            $('html, body').animate({
              scrollTop: $('#propys').offset().top
            }, 'slow');
        });
    });

    // this is the id of the form
    $("#idForm").submit(function(e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        var url = form.attr('action');

        $.ajax({
           type: "get",
           url: '{% url "property:index" %}',
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
            var y = document.getElementById('propys');
            y.innerHTML = data;
            $('html, body').animate({
              scrollTop: $('#propys').offset().top
            }, 'slow');
           }
        });
    });
  //Camilo
    var queryString = window.location.search;
    if (queryString != "" ){
     window.location.hash = "here";
    }

    if (window.location.href.indexOf("page") > -1){
      $('html, body').animate({
        scrollTop: $('#propys').offset().top
      }, 'slow');
    }
    var flag = 1;
    var all = $("#all").text();
     $("#select-city").click(function(){
     if ( flag == 1 ) {
        $.ajax({
            url: '{% url "city:all-cities" %}',
            type: 'get',
            data: {}
        }).done(function(data) {
            var valores = '';
            $("#select-city").empty();
            valores = "<option value='ALL' selected>" + all + "</option>"
            $.each(data, function(val) {
                valores += "<option value='" + val + "'>" + val + "</option>";
            });
            $("#select-city").append(valores);
        });
        flag = 0;
     }
    });
    $(document.body).click(function(e){
         var $box = $('#id_dropdownHab');
         var $box2 = $('#id_dropdownBan');
         var $box3 = $('#id_dropdownAre');
         var $box4 = $('#id_dropdownPre');
         let myArray = [$box, $box2, $box3, $box4];
          for(let i = 0; i < myArray.length; i++){
              if(e.target.id !== myArray[i].attr('id') && !$.contains( myArray[i][0], e.target)){
              myArray[i].removeClass('show');
              }
          }
    });
    let visit = $("#session");
    $(window).on('load',function(){
        var pathname = window.location.href;
        if ( !pathname.includes('?') && !visit.text()){
          $('#myModal').modal('show');
          }

    });
</script>
  </body>
</html>
