{% load i18n %}
<style>
  .alertas{
    color: #0c5460;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #364e68;
    border-radius: .25rem;
    font-weight: bold;
    margin: 0%;
    cursor: pointer;
  }
  .alertas:hover{
    background-color: black;
    color: white;
    border: 2px solid #0c5460;
  }

</style>
<div class="modal fade animated rubberBand" id="myModal" data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" style="font-weight: bold;margin: 0 auto;width: 100%;">
        <p class="modal-title" style="margin: auto;margin-right: -12%;">{% trans 'My Account' %}</p>
         <button type="button" class="close" id="btnClose">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="width: 100%;text-align: center;">
        <a class="btn btn-lg btn-block px-0 alertas"  href="{% url 'account:dashboard' %}" role="button">{% trans 'My Profile' %}</a>
        <a class="btn btn-lg btn-block px-0 alertas"  href="{% url 'property:create' %}" role="button">{% trans 'Publish a Property' %}</a>
        {% if request.user.is_authenticated %}
          <a id="logout" class="btn btn-lg btn-block px-0 alertas"  href="#" role="button">{% trans 'Log Out' %}</a>
        {% else %}
          <a class="btn btn-lg btn-block px-0 alertas"  href="{% url 'account:login' %}" role="button">{% trans 'Log In' %}</a>
        {% endif %}
      </div>

    </div>
  </div>
</div>
<script>
$("#logout").click(function(){
  Swal.fire({
    title: "{% trans 'Are you sure?' %}",
    text: "{% trans "You will be logged out" %}",
    showCancelButton: true,
    confirmButtonColor: '#364e68',
    cancelButtonColor: '#bb1f1f',
    confirmButtonText: "{% trans 'Yes!' %}",
    cancelButtonText: "{% trans 'Cancel' %}"
  }).then((result) => {
    if (result.value) {
      Swal.fire(
        "{% trans 'You are logged out' %}",
        "{% trans 'You can go to My account to login again' %}",
        'success'
      )
       setTimeout(logout, 2500)
    }
  })
})
function logout(){
  window.location.href='{% url "account:logout" %}'
}
</script>