{% extends 'properties/base_new.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% trans 'New Property' %}{%endblock%}
{% block styles %}
      <style>
        .select2-container {
          width: 347px ! important;
          max-width: 100%;
        }
        .span{
            color: red;
        }
        .titleModal{
            text-align: center;
        }
        .divTitleModal{
            margin: 0 auto;
        }
        
        .btnSave{
            margin-left: 6%;
        }
        #id_description {
            max-width: 100%;
        }
        #id_type_business {
            max-width: 100%;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
        .form-control {
            padding:0.2em !important;
        }
        .select2-selection__choice{
            font-size: 0.8em;
        }
        .modal-lg { 
            max-width: 78% !important; 
        } 
        .centrar{
            text-align: center;
            white-space: nowrap;
        }
        .centrar0{
            margin: 0 auto;
        }
        .divBtn{
            text-align: center;
        }

    </style>
{% endblock %}
{% block body %}
<div class="modal fade animated fadeInDown" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header divTitleModal">
        <h5 class="modal-title titleModal" id="exampleModalLongTitle">{% trans "Your Property's Details" %}</h5>
       </div>
        <h2 id="datoPage" style="display: none;">{{page}}</h2><!-- ******** TEXT DE PESTAÑA ******* -->
        <span id="propiedad" hidden>{{propiedad}}</span>
        <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12">
                            <div id="content">
                             
                                <div class="content" style="height: 100%;">
                                    <script>
                                    $(function () {
                                        $("#wizard").steps({
                                            headerTag: "h2",
                                            bodyTag: "section",
                                            transitionEffect: "slideLeft",
                                            startIndex: parseInt($("#datoPage").text()),
                                            //stepsOrientation: "vertical"
                                        });
                                    });
                                    </script>

                                    <div id="wizard">
                                        <h2>{% trans 'New Property' %}</h2>
                                        <section style="overflow: auto;"> <!-- PAGE 1-->
                                            <form id="formSectionUno" method="post">
                                                {% csrf_token %}
                                                <div class="col-md-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.owner.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.owner}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label" style="text-align: -webkit-right;">
                                                                        {{form.type_property.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.type_property}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                       {{form.type_business.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.type_business}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" >
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label" style="text-align: -webkit-right;">
                                                                         {{form.price_str.label}}<span class="span"> *</span>
                                                                     </label>
                                                                    <div class="col-md-12">
                                                                        {{form.price_str}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-0"  hidden>
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                         {{form.price.label}
                                                                     </label>
                                                                    <div class="col-md-12">
                                                                        {{form.price}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                            {{form.rooms.label}}<span class="span"> *</span>
                                                                         </label>
                                                                        <div class="col-md-6">
                                                                            {{form.rooms}}
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label centrar">
                                                                        {{form.baths.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-6 centrar0">
                                                                        {{form.baths}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label centrar">
                                                                       {{form.parking.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-6 centrar0">
                                                                        {{form.parking}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.area_total.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        {{form.area_total}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" >
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.area_built.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-8">
                                                                        {{form.area_built}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" id="divEstrato" style="text-align: -webkit-right;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.estrato.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-6">
                                                                        {{form.estrato}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label centrar">
                                                                        {{form.year.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-8 centrar0">
                                                                        {{form.year}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <hr>
<!--                                                            <div class="row">-->
<!--                                                                <div class="col-md-12">-->
<!--                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">-->
<!--                                                                        {{form.manager.label}} <span class="span"> *</span>-->
<!--                                                                    </label>-->
<!--                                                                    <div class="col-md-12">-->
<!--                                                                        {{form.manager}}-->
<!--                                                                        <span class="help-block"></span>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <br/>-->
<!--                                                            </div>-->
<!--                                                            <br/>-->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.title.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.title}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" style="text-align: -webkit-right;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        {{form.description.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        {{form.description}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div class="form-group divBtn">
                                                    <div class="col-md-12">
                                                        <button type="submit" id="btnGuardar" class="btn btn-primary btnSave">
                                                            Guardar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>

                                        <h2>{% trans 'Address' %}</h2><!-- PAGE 2-->
                                        <section id="section2">
                                            {% include "properties/new_address.html" %}
                                        </section>

                                        <h2>{% trans 'Image' %}</h2><!-- PAGE 3-->
                                        <section id="section3">
                                            {% include "properties/new_image2.html" %}
                                        </section>

                                        <h2>{% trans 'Done' %}</h2>
                                        <section>

                                        </section>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                    {% block script %}
        </div>

<script>
$(document).ready(function(){
    var prop_id;
    prop_id = parseInt( $("#propiedad").text() );


    $("#id_type_property").change(function(){
        opcion = $("#id_type_property option:selected").val();
        if( opcion == "LAN" || opcion == "FARM" ){
            $("#divEstrato").hide();
        }else{  
            $("#divEstrato").show();
        }
    });

    //New Propery Activo SECTION 1
    $('.steps > ul > li:first').addClass('newProperty')
    $(".newProperty").click(function(e){
         window.location.href="{% url 'property:update' 123 %}".replace(/123/, prop_id);
    });

    //New Propery Activo SECTION 2
    $('.steps > ul > li:eq(1)').addClass('newAddress')
    $(".newAddress").click(function(){
        if(  $(".newAddress").attr('aria-selected') == "true" ){
            window.location.href="{% url 'property:create-address' 123 %}".replace(/123/, prop_id);
        }
    });

    $("span[class='select2-selection select2-selection--multiple']");
    $("#id_type_business").attr('class','form-control selectDos');
    $('.selectDos').select2({
        //placeholder: '',
    });

    $("input,select").addClass('form-control');
    $('#exampleModalCenter').modal('show')
    $("[href='#next']").css('display','none');
    $("[href='#DF GFFG N']").css('display','none');
    $("[href='#previous']").css('display','none');
    
    $("[href='#next']").click(function(){
        //alert('mario ')
       
    });

    //$("[href='#next']").trigger('click');


 // ***funtion currency
var id_price_strInput = document.getElementById('id_price_str');
var currency = 'USD'; // https://www.id_price_str-iso.org/dam/downloads/lists/list_one.xml

id_price_strInput.addEventListener('keydown', onKeydown);
id_price_strInput.addEventListener('keyup', onKeyup);

function localStringToNumber( s ){
    return Number(String(s).replace(/[^0-9.-]+/g,""));
}

var val_com = $("#id_price_str").val();
$("#id_price_str").attr("placeholder",val_com);

function onKeydown(e){
  var intformat= e.target.value;
  var value = intformat.replace(/[.]/g,',');
  e.target.value = value ? localStringToNumber(value) : '';
  document.getElementById("id_price").value = e.target.value;
}
var timeout = null
function onKeyup(e){
    clearTimeout(timeout);
    timeout = setTimeout(function () {
          var value = e.target.value;
          document.getElementById("id_price").value = value;
          const options = {
              maximumFractionDigits : 0,
              minimumFractionDigits : 0,
              currency              : currency,
              style                 : "currency",
              currencyDisplay       : "symbol",
          }
          var usformat = value ? localStringToNumber(value).toLocaleString(undefined, options): '';
          val = usformat.replace(/[,]/g,'.');
          e.target.value = val.replace(/[US]/g,'');
          document.getElementById("id_price_str").value = e.target.value;
    }, 400);
}
// **** end funtion currency

// SECTION 4

if( $('#customCheck1').prop('indeterminate') == false ){
    //alert("false terminos")
    /*
    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Acepte términos y condiciones',
        timer: 2100
    })
    */
}

$("#customCheck1").change(function(){
    alert("Acepto ¨¨¨¨¨¨¨******* terminos")
});


});
</script>
{% endblock %}
{% endblock %}