{% extends 'properties/base_new.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}title{%endblock%}
{% block styles %}

      <style>
        .select2-container {
          width: 347px ! important;
          max-width: 100%;
        }
        .span{
            color: red;
        }
        .titleModal{
            text-align: center;
        }
        .divTitleModal{
            margin: 0 auto;
        }
        .divBtn{
            text-align: center;
        }
        .btnSave{
            margin-left: 6%;
        }
        #id_description {
            max-width: 100%;
        }
        #id_type_business {
            max-width: 100%;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
        .form-control {
            padding:0.2em !important;
        }
        .select2-selection__choice{
            font-size: 0.8em;
        }
        .modal-lg { 
    max-width: 78% !important; 
} 

    </style>
{% endblock %}
{% block body %}
<!-- Modal -->
<div class="modal fade animated fadeInDown" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header divTitleModal">
        <h5 class="modal-title titleModal" id="exampleModalLongTitle">Ingresa los datos de tu propiedad</h5>
       </div>
        <h2 id="datoPage" style="display: none;">{{page}}</h2><!-- ******** TEXT DE PESTAÑA ******* -->
        <div class="modal-body">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12">
                            <div id="content">
                             
                                <div class="content" style="height: 100%;">
                                    <script>
                                    $(function ()
                                        {
                                            $("#wizard").steps({
                                                headerTag: "h2",
                                                bodyTag: "section",
                                                transitionEffect: "slideLeft",
                                                startIndex: 3//parseInt($("#datoPage").text()),
                                                //stepsOrientation: "vertical"
                                            });
                                        });
                                    </script>

                                    <div id="wizard">
                                        <h2>New Property</h2>
                                        <section style="overflow: auto;"> <!-- PAGE 1-->
                                            <form id="formUno" method="post">
                                                {% csrf_token %}
                                                <div class="col-md-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                    <i class="fas fa-id-card-alt"></i>&nbsp;{{form.owner.label}}<span class="span"> *</span></label>
                                                                    <div class="col-md-12">
                                                                        {{form.owner}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="fa fa-id-card"></i>
                                                                        {{form.type_property.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.type_property}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="fa fa-id-card"></i>
                                                                        {{form.type_business.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.type_business}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" >
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                         <i class="fas fa-user-tie"></i>
                                                                         {{form.price_str.label}}<span class="span"> *</span>
                                                                     </label>
                                                                    <div class="col-md-12">
                                                                        {{form.price_str}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-0"  hidden>
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                         {{form.price.label}
                                                                     </label>
                                                                    <div class="col-md-12">
                                                                        {{form.price}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-4" style="padding-left: 1%;">
                                                                    <div class="form-group">
                                                                        <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                             <i class="fas fa-user-tie"></i>
                                                                             {{form.rooms.label}}<span class="span"> *</span>
                                                                         </label>
                                                                        <div class="col-md-12">
                                                                            {{form.rooms}}
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        {{form.baths.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.baths}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4" style="padding-right: 1%; padding-left:1%;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                       {{form.parking.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.parking}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="row">
                                                                <div class="col-md-4" style="padding-left: 1%; white-space:nowrap;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        {{form.area_built.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.area_built}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.area_total.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.area_total}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4" style="padding-right: 1%; padding-left:1%;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.estrato.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.estrato}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <hr>
<!--                                                            <div class="row">-->
<!--                                                                <div class="col-md-12">-->
<!--                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">-->
<!--                                                                        <i class="fas fa-chalkboard-teacher"></i>-->
<!--                                                                        &nbsp;{{form.manager.label}} <span class="span"> *</span>-->
<!--                                                                    </label>-->
<!--                                                                    <div class="col-md-12">-->
<!--                                                                        {{form.manager}}-->
<!--                                                                        <span class="help-block"></span>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <br/>-->
<!--                                                            </div>-->
<!--                                                            <br/>-->
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.title.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.title}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.description.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        {{form.description}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div class="form-group divBtn">
                                                    <div class="col-md-12">
                                                        <button type="submit" id="btnGuardar" class="btn btn-primary btnSave">
                                                            </i>Guardar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>

                                        <h2>Address</h2><!-- PAGE 2-->
                                        <section>
                                             <form id="formDos" method="post">
                                                {% csrf_token %}
                                                <div class="col-md-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                    <i class="fas fa-id-card-alt"></i>&nbsp;{{form.tipo_via.label}}<span class="span"> *</span></label>
                                                                    <div class="col-md-12">
                                                                        {{form.tipo_via}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="fa fa-id-card"></i>
                                                                        {{form.via.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.via}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" style="padding-left: 0%;">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                         <i class="fas fa-user-tie"></i>
                                                                         {{form.prefijo_via.label}}<span class="span"> *</span>
                                                                     </label>
                                                                    <div class="col-md-12">
                                                                        {{form.prefijo_via}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                             <i class="fas fa-user-tie"></i>
                                                                             &nbsp;{{form.numero.label}}<span class="span"> *</span>
                                                                         </label>
                                                                        <div class="col-md-12">
                                                                            {{form.numero}}
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.prefijo_numero.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.prefijo_numero}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.placa.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.placa}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br/>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.ciudad.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.ciudad}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.departamento.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.departamento}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                                                        <i class="far fa-envelope"></i>
                                                                        &nbsp;{{form.mostrar.label}}<span class="span"> *</span>
                                                                    </label>
                                                                    <div class="col-md-12">
                                                                        {{form.mostrar}}
                                                                        <span class="help-block"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <br/>
                                                <div class="form-group divBtn">
                                                    <div class="col-md-12">
                                                        <button type="submit" id="btnGuardar" class="btn btn-primary btnSave">
                                                            </i>Guardar
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>    
                                    <h2 id="propy">{{propiedad}}</h2>
                                            <button id="back">back</button>
                                        </section>

                                        <h2>Image</h2><!-- PAGE 3-->
                                        <section id="section3">
                                            <div id="section3Div"></div>
                                        </section>

                                        <h2>terms and Conditions</h2>
                                        <section>
                                            <div style="background-color: #fafafa; margin: 9rem; padding: 1rem;border: 2px solid #ccc; text-align: center;">

                                                <form>
                                                    <div class="custom-control custom-checkbox">
                                                        <label>Al llenar este formulario Acepta que las imagenes y los datos de su propiedad Se han publicados en la Web </label>
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label" for="customCheck1">Aceptar terminos y condiciones</label>
                                                    </div>
                                                </form>

                                            </div>
                                            
                                        </section>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                    {% block script %}
        </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   <script src="{% static 'js/jquery.steps.min.js' %}"></script>
   <script src="{% static 'js/jquery.steps.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--BOOTSTRAP-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
$(document).ready(function(){
    $("span[class='select2-selection select2-selection--multiple']");
    $("#id_type_business").attr('class','form-control selectDos');
    $('.selectDos').select2({
        //placeholder: 'Seleccione Uno o Mas Puntos de Operación',
    });

    $("input,select").addClass('form-control');
    $('#exampleModalCenter').modal('show')
    $("[href='#next']").css('display','none');
    $("[href='#DF GFFG N']").css('display','none');
    $("[href='#previous']").css('display','none');
    
    $("[href='#next']").click(function(){
        //alert('mario ')
       
    });
    var prop = $("#propy").text()
    $("#back").click(function(){
    window.location.href ='{% url "property:update" 25 %}'
    });


    //$("[href='#next']").trigger('click');


 // ***funtion currency
var id_price_strInput = document.getElementById('id_price_str');
var currency = 'USD'; // https://www.id_price_str-iso.org/dam/downloads/lists/list_one.xml

id_price_strInput.addEventListener('keydown', onKeydown);
id_price_strInput.addEventListener('keyup', onKeyup);

function localStringToNumber( s ){
    return Number(String(s).replace(/[^0-9.-]+/g,""));
}

var val_com = $("#id_price_str").val();
$("#id_price_str").attr("placeholder",val_com);

function onKeydown(e){
  var intformat= e.target.value;
  var value = intformat.replace(/[.]/g,',');
  e.target.value = value ? localStringToNumber(value) : '';
  document.getElementById("id_price").value = e.target.value;
}
var timeout = null
function onKeyup(e){
    clearTimeout(timeout);
    timeout = setTimeout(function () {
          var value = e.target.value;
          document.getElementById("id_price").value = value;
          const options = {
              maximumFractionDigits : 0,
              minimumFractionDigits : 0,
              currency              : currency,
              style                 : "currency",
              currencyDisplay       : "symbol",
          }
          var usformat = value ? localStringToNumber(value).toLocaleString(undefined, options): '';
          e.target.value = usformat.replace(/[,]/g,'.');
          document.getElementById("id_price_str").value = e.target.value;
    }, 400);
}
// **** end funtion currency

//<!-- Section - PAGE 3-->
$("#section3Div").load( "http://localhost:8000/es/new_image/2/#");

// SECTION 4

if( $('#customCheck1').prop('indeterminate') == false ){
    alert("false terminos")
    /*
    Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Acepte términos y condiciones',
        timer: 2100
    })
    */
}

$("#customCheck1").change(function(){
    alert("Acepto ¨¨¨¨¨¨¨******* terminos")
});
    

});
</script>
{% endblock %}
{% endblock %}