<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
    .select2-container {
        width: 260px ! important;
    }
    .span{
        color: red; 
        font-weight: bold;
    }
    .divBtn{
        text-align: center;
    }
    .contenedor{
        width: 45%;
        height: 22%;
        margin: 0 auto;
        border: solid #ccc9c9;
    }
    .form{
        margin: 0 auto;
        padding-top:3%;
    }
</style>
</head>
<body>
<input id="prop" value="{{propiedad}}" hidden disabled>

<div class="container">
    <div class="row">
        <form id="formUno" method="post" class="form">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                {{form.errors}}
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                {{form.tipo_via.label}}<span class="span"> *</span></label>
                                <div class="col-md-12">
                                    {{form.tipo_via}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.via.label}}<span class="span"> *</span>
                                </label>
                                <div class="col-md-12">
                                    {{form.via}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.prefijo_via.label}}
                                </label>
                                <div class="col-md-12">
                                    {{form.prefijo_via}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                        {{form.numero.label}}<span class="span"> *</span>
                                    </label>
                                    <div class="col-md-12">
                                        {{form.numero}}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.prefijo_numero.label}}
                                </label>
                                <div class="col-md-12">
                                    {{form.prefijo_numero}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.placa.label}}<span class="span"> *</span>
                                </label>
                                <div class="col-md-12">
                                    {{form.placa}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.departamento.label}}<span class="span"> *</span>
                                </label>
                                <div class="col-md-12">
                                    {{form.departamento}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.ciudad.label}}<span class="span"> *</span>
                                </label>
                                <div class="col-md-12">
                                    {{form.ciudad}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                    {{form.barrio.label}}
                                </label>
                                <div class="col-md-12">
                                    {{form.barrio}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                             {{form.propiedad}}

                        <br/>
                        <hr>
                        <div class="row">
                            <div class="col-md-9" style="text-align: right;">
                                <span>Mostrar dirección completa en la Web?</span>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    {{form.mostrar}}
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div style="font-weight: bold; text-align: center;">
                            <span style="font-size: 18px;text-decoration: underline;">Direccion a Mostrar:</span>
                            <span id="showData2"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group divBtn">
                <div class="col-md-12">
                    <button type="submit" id="btnGuardar" class="btn btn-primary btnSave">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
<script>
//SECTION 2
    var  depa = '';
    var  ciud = '';
    var  pref = ''; 
    var  prefNum = '';
    $("#id_prefijo_via").change(function(){
        pref = $("#id_prefijo_via option:selected").text();
        datos();
    });

    $("#id_prefijo_numero").change(function(){
        prefNum = $("#id_prefijo_numero option:selected").text();
        datos();
    });

    $("#id_departamento").change(function(){
        var opcion = $("#id_departamento option:selected").val();
        depa = $("#id_departamento option:selected").text();
        $.ajax({
            url: '{% url "city:cities" %}',
            type: 'get',
            data: { 'id': opcion }
        }).done(function(data) {
            var valores = '';
            var datos = JSON.parse(data);
            $("#id_ciudad").empty();
            valores = "<option value='' selected>Ciudad</option>"
            $.each(datos, function(item, val) {
                valores += "<option value='" + val.pk + "'>" + val.fields.name + "</option>";
            });
            $("#id_ciudad").append(valores);
        });
        datos();
    });

    $("#id_ciudad").change(function(){
        ciud = $("#id_ciudad option:selected").text();
        datos();
    });

    var propy = $("#prop").val();
    $("#id_propiedad").val(propy).change();
    $('label[for="id_propiedad"]').hide();
    $("#id_propiedad").hide()

    //Css
    $("input, select").addClass('form-control');
    $("#id_mostrar").prop('checked',true);
    $("#id_mostrar").css('height','1.5em').css('width','100%');

    if(  $("#id_mostrar").is(':checked') ){
        $("#showData2").text( $("#id_tipo_via").val()+' '+$("#id_via").val()+' '+$("#id_prefijo_via").val()+' '+$("#id_numero").val() +' # '+$("#id_prefijo_numero").val()+' - '+$("#id_placa").val()+' '+$("#id_ciudad option:selected").text()+', '+$("#id_departamento option:selected").text()+', '+$("#id_barrio").val() );
    }

    function datos(){
        if( $("#id_mostrar").is(':checked') ){
            //Campos vacios
            if( $("#id_tipo_via").val() == '' && $("#id_via").val() == '' && $("#id_prefijo_via").val() == '' && $("#id_numero").val() == '' && $("#id_prefijo_numero").val() == '' && $("#id_placa").val() == '' && $("#id_ciudad option:selected").val() == '' && $("#id_departamento option:selected").val() == '' && $("#id_barrio").val() == '' ){
                $("#showData2").text('');
            }else{
                $("#showData2").text( $("#id_tipo_via").val()+' '+$("#id_via").val()+' '+pref+' # '+$("#id_numero").val()+' '+prefNum+' - '+$("#id_placa").val()+'. '+$("#id_barrio").val()+', '+ciud+', '+depa );
            }
        }
    }

    $("#id_tipo_via, #id_via, #id_prefijo_via, #id_numero, #id_prefijo_numero, #id_placa, #id_ciudad, #id_departamento, #id_barrio").keyup(function () {

        $("#showData2").html( $("#id_barrio").val()+' '+$("#id_departamento option:selected").text()+' '+$("#id_ciudad option:selected").text() );
        datos();

    });


    if( $("#id_mostrar").is(':checked') ){
        datos();
    }

    $("#id_mostrar").change(function() {
        if( $("#id_mostrar").is(':checked') ){
            //Campos vacios
            datos();
        }else{
            $("#showData2").html( $("#id_barrio").val()+' '+$("#id_ciudad option:selected").text()+' '+$("#id_departamento option:selected").text() );
        }
    });




</script>
</html>
