{% load i18n %}
{% load static %}
{% for prop in properties %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="property-entry h-100">
      <a href="{% url 'property:detail' prop.id %}" class="property-thumbnail">
        {% with business=prop.type_business.all %}
        <div class="offer-type-wrap">
          {% for busi in business %}
            {% if busi.name == 'SALE / VENTA' %}
              <span class="offer-type bg-danger">{% trans 'Sale'%}</span>
            {% endif %}
            {% if busi.name == 'RENT / ARRENDAMIENTO' %}
              <span class="offer-type bg-success">{% trans 'Lend'%}</span>
            {% endif %}
            {% if busi.name == 'SWAP / PERMUTA' %}
              <span class="offer-type bg-info">{% trans 'swap'%}</span>
            {% endif %}
<!--                      <span class="offer-type {% if busi.name == 'rent' %}bg-danger{% endif %}{% if busi.name == 'Sale' %}bg-success{% endif %}">{{busi.name}}</span>-->
<!--                    <span class="offer-type bg-success">Rent</span>-->
          {% endfor %}
        </div>
        {% endwith %}
        {% with gallery=prop.gallery.all %}
        {%if gallery %}
          {% for img in gallery%}
            {%if img.main %}
                <img src="{{img.image.url}}" alt="Image" class="img-fluid">
              {% endif %}
          {% endfor %}
        {% else %}
          <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">
        {% endif %}
        {% endwith %}
<!--                  <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">-->
        </a>
           <div class="p-4 property-body data">
              {%if prop in user.following.all %}
              <a class="property-unfavorite heart" id="{{prop.id}}" onclick="follows( '{{prop.id}}' )"><span class="icon-heart-o"></span></a>
              {% else %}
              <a class="property-favorite heart" id="{{prop.id}}" onclick="follows( '{{prop.id}}' )"><span class="icon-heart-o"></span></a>
              {% endif %}
              {% with address=prop.address_col.get %}
              <strong class="property-price text-primary text-success" style="float: right;"> {{ prop.price_str }}</strong>
              <h2 class="property-title">
                <a href="property-details.html">{{ prop.title }}</a>
              </h2>
              <hr>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> {{ address }}</span>
              
              <div class="row px-0">
                <div class="col-3 col-md-3">
                    <span class="property-specs">{% trans 'Beds' %}</span>
                    <span class="property-specs-number"> 
                    <i class="fas fa-bed" style="color: #7f7f7f;"></i>
                    &nbsp;{{ prop.rooms }}</span>
                </div>
                <div class="col-3 col-md-3 px-0">
                   <span class="property-specs">{% trans 'Baths' %}</span>
                   <span class="property-specs-number">
                   <i class="fas fa-bath" style="color: #7f7f7f;"></i>
                   &nbsp;{{ prop.baths }}</span>
                </div>
                <div class="col-3 col-md-3 px-0">
                  <span class="property-specs">{% trans 'Parking' %}</span>
                  <span class="property-specs-number">
                  <i class="fas fa-car" style="color: #7f7f7f;"></i>
                  &nbsp;{{ prop.parking }}
                  </span>
                </div>
                <div class="col-3 col-md-3 px-0">
                  <span class="property-specs">{% trans 'Sq m' %}</span>
                  <span class="property-specs-number d-print-inline">
                  <i class="fas fa-chart-area" style="color: #7f7f7f;"></i>
                  &nbsp;{{ prop.area_total }}</span>
                </div>
              
              </div>

            </div>
    </div>
  </div>
{% endwith %}
{% empty %}
  <p> no properties</p>
{% endfor %}