{% load staticfiles %}
{% load static %}
{% load property_tags %}
{% load i18n %}
{% load thumbnail %}
<div class="container">
    <div class="row mb-5">
      {% for prop in object_list %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="property-entry h-100">
            <a href="{% url 'property:detail' prop.id %}" class="property-thumbnail">
              {% with business=prop.type_business.all %}
              <div class="offer-type-wrap">
                {% for busi in business %}
                  {% if busi.name == 'SALE / VENTA' %}
                    <span class="offer-type bg-danger">{% trans 'Sale'%}</span>
                  {% endif %}
                  {% if busi.name == 'RENT / ARRENDAMIENTO' %}
                    <span class="offer-type bg-success">{% trans 'Lend'%}</span>
                  {% endif %}
                  {% if busi.name == 'SWAP / PERMUTA' %}
                    <span class="offer-type bg-info">{% trans 'Swap'%}</span>
                  {% endif %}
                {% endfor %}
              </div>
              {% endwith %}
              {% with gallery=prop.gallery.all %}
              {%if gallery %}
                {% for img in gallery%}
                  {%if img.main %}
                    {% thumbnail img.image "800x500" crop=center padding=True upscale=True as im %}
                      <img src="{{im.url}}" alt="Image" class="img-fluid">
                      {% endthumbnail %}
                    {% endif %}
                {% endfor %}
              {% else %}
                <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">
              {% endif %}
              {% endwith %}
              </a>
            <div class="p-4 property-body data">
              {%if prop in user.following.all %}
              <a class="property-unfavorite heart" onclick="follows( '{{prop.id}}' )"><span class="icon-heart-o"></span></a>
              {% else %}
              <a class="property-favorite heart" onclick="follows( '{{prop.id}}' )"><span class="icon-heart-o"></span></a>
              {% endif %}
              {% with address=prop.address_col.get %}
              <h2 class="property-title"><a href="property-details.html">{{ prop.title }}</a></h2>
              <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> {{ address }}</span>
              <strong class="property-price text-primary mb-3 d-block text-success">{{ prop.price_str }}</strong>
              <ul class="property-specs-wrap mb-3 mb-lg-0">
                <li>
                  <span class="property-specs">{% trans 'Beds' %}</span>
                  <span class="property-specs-number">{{ prop.rooms }}<sup>+</sup></span>
                </li>
                <li>
                  <span class="property-specs">{% trans 'Baths' %}</span>
                  <span class="property-specs-number">{{ prop.baths }}</span>

                </li>
                <li>
                  <span class="property-specs">{% trans 'Sq m' %}</span>
                  <span class="property-specs-number">{{ prop.area_total }}</span>
                </li>
              </ul>

            </div>
          </div>
        </div>
      {% endwith %}
      {% empty %}
        <p> no properties</p>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-pagination">
          {% with pages=page_obj %}
          {% with total_pages=page_obj.paginator.num_pages current_page=page_obj.number %}
          {% if pages.previous_page_number > 1 %}
            <a href="?page=1">1</a>
          {% endif %}
          {% if pages.previous_page_number > 2 %}
            <span>...</span>
          {% endif %}
          {% if pages.has_previous %}
            <a id="previous" href="?{% query_transform page=pages.previous_page_number %}">{{ current_page|add:"-1"}}</a>
          {% endif %}
            <a id="active" href="#" class="active">{{ current_page }}</a>
          {% if pages.has_next %}
            <a id="next" href="?{% query_transform page=pages.next_page_number %}">{{ current_page|add:"1"}}</a>
          {% if pages.next_page_number < total_pages|add:"-1 "%}
            <span>...</span>
          {% endif %}
          {% if pages.next_page_number < total_pages%}
            <a id="last" href="?{% query_transform page=total_pages  %}">{{ total_pages }}</a>
          {% endif %}
          {% endif %}
          {% endwith %}
          {% endwith %}
        </div>
      </div>
    </div>
     <span id="filters">{{ filters }}</span>
</div>