<div style="background-color: #fafafa; margin: 9rem; padding: 1rem;border: 2px solid #ccc; text-align: center;">
	 <form>
        <div class="custom-control custom-checkbox">
            <label>Al llenar este formulario Acepta que las imagenes y los datos de su propiedad Se han publicados en la Web </label>
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Aceptar terminos y condiciones</label>
        </div>
    </form>

</div>