<!DOCTYPE html>
{% load static %}
{% load property_tags %}
{% load profile_tags %}
{% load i18n %}
<html>
<head>
  	<title>Dashboard</title>
  	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- 	sweet alerts-->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style type="text/css">
	    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance:textfield;
    }
		button {
			display: block;
			border-radius: 30px;
			font-size: 3em;
			cursor: pointer;
			color: white !important;
			border: 1px solid;
			background: #37474f;
			width: 26vw;
			height: 4vh;
		}
		select {
			display: block;
			width: 100%;
			margin-top: 5px;
			padding-bottom: 5px;
			font-size: 16px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.4);
			text-align: center;
			background: transparent;
			border-left-style: none;
			border-top-style: none;
			border-right-style: none;
			-webkit-appearance: none;
		}
		header, main,footer {
		  padding-left: 240px;
		}

		body {
		  backgroud: white;
		}

		@media only screen and (max-width: 992px) {
		  header,
		  main,
		  footer {
			padding-left: 0;
		  }
		}
		#credits li,
		#credits li a {
		  color: white;
		}

		#credits li a {
		  font-weight: bold;
		}

		.footer-copyright .container,
		.footer-copyright .container a {
		  color: #BCC2E2;
		}

		.fab-tip {
		  position: fixed;
		  right: 85px;
		  padding: 0px 0.5rem;
		  text-align: right;
		  background-color: #323232;
		  border-radius: 2px;
		  color: #FFF;
		  width: auto;
		}

		.boton3:hover {
		  background: black;
		  color: #fff !important;
		  border-color: black;
		}
		label{
		font-size: 1.2rem;
		}
		li {
			color: white;
		}
		option {
			color: black;
			background: white;
			text-align-last:center;
		}
		select {
			text-align-last:center;
		}
	</style>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--fontawesome-->
</head>
<body>
	<div style="position: -webkit-sticky; position: sticky; top: 0; z-index: 1; ">
		<div class="blue-grey darken-3" style="padding: 0em;color: white;font-weight: bold;">
			<a href="#" data-target="slide-out" class="sidenav-trigger" style="color:white;"><i class=" medium material-icons">menu</i></a>
			<p style="white-space: nowrap; display: inline; vertical-align: middle; padding: 2em 2em 4em;">{% trans 'Profile' %}</p>
		</div>
	</div>
	<div style="width: 100%">
		<div style="width: 25%;float: left;">
			<ul id="slide-out" class="sidenav">
				<li><div class="user-view" style=" height:100px;">
						<div class="background" >
							<img src="{% static '/banner.png' %}">
						</div>
					</div>
				</li>
				<li><a href="{%url 'property:index' %}"><i class="material-icons">home</i>{% trans 'Home' %}</a></li>
				<li><a href="{%url 'property:create' %}"><i class="material-icons">publish</i>{% trans 'Publish a Property' %}</a></li>
				<li><a id="logout" href="#"><i class="material-icons">exit_to_app</i>{% trans 'Log Out' %}</a></li>
				<li><div class="divider"></div></li>
				<li><a class="subheader">{% trans 'More' %}</a></li>
				<li><a class="waves-effect" href="{% url 'property:contact'%}">{% trans 'Contact Us' %}</a></li>
			</ul>
		</div>
		<div style="width: 100%;float: right;margin-left: 1%;">
			<div class="row" style="margin: 0%;">
				<div class="col l6 m12 s12" style="padding: 0.5em 2em 0em 2em;">
				  <div id="id_frame" style="padding: 1em 2em 0em 2em;" align="center" class="card">
					<div class="row">
					  <div class="left card-title">
						<b>{% trans 'Details' %}</b>
					  </div>
					</div>
					<div class="row">
					  <div   class="row">
						  <div class="col s12 m3"  style="padding-right: 2%;">
							  <div class="card z-depth-3">
								  <div class="card-image" title="{% trans 'change image' %}">
									 <a id="id_photo"> <img src="{{user.profile.photo.url}}"></a>
								  </div>
								  <div class="card-content white-text blue-grey darken-4" style="word-wrap: break-word; padding: 0.5em !important">
									  <p>{{user.first_name}} {{user.last_name}}</p>
									  <a id="id_edit" href="#" style="color:white">{% trans 'Edit Profile' %}</a>
								  </div>
							  </div>
						  </div>
						  <div class="col s12 m9">
						  <div  id="id_profile" class="card blue-grey darken-3  z-depth-3" >
							<div class="card-content white-text" style="word-wrap: break-word;">
								<div class="row">
									<div class="col s12 m6">
										<h6>{% trans 'Phone' %}</h6>
										<h4>{{user.profile.phone}}</h4>
									</div>
									<div class="col s12 m6">
										<h6>{% trans 'Gender' %}</h6>
										<h4>{{user.profile.gender}}</h4>
									</div>
								</div>
								<div class="row">
								  <div class="col s12 m6">
									  <h6>{% trans 'City' %}</h6>
									  <h4>{{user.profile.city}}</h4>
								  </div>
									<div class="col s12 m6">
										<h6>{% trans 'Company' %}</h6>
										<h4>{{user.profile.company}}</h4>
									</div>
								</div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<div class="col l6 m12 s12" style="padding: 1em 2em 0em 2em;">
				  <div style="padding: 1em 2em 0em 2em;" align="center" class="card">
					<div class="row">
					  <div class="left card-title">
						<b>{% trans 'Messages' %}</b>
					  </div>
					</div>
					<div class="row">
					  <div class="row">
						  <div class="col s12 m12">
						  <div class="card blue-grey darken-3 z-depth-3">
							<div class="card-content white-text" style="word-wrap: break-word;">
								<p> {% trans 'Coming soon!' %}</p>
							</div>
							<div class="card-action">
	<!--							<a href="#">{% trans 'Edit Profile' %}</a>-->
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div  id="id_prop_scroll" class="row" style="margin: 0%;">
			<div class="col l6 m12 s12" style="padding: 0em 2em 0em 2em;">
				<div style="padding: 2em;" align="center" class="card">
				  <div class="row">
					<div class="left card-title ">
					  <b>Mis Propiedades</b>
					</div>
				  </div>
				  <div  class="row z-depth-3" style="width: 90%; min-height: 300px;">
				  <!-- overflow-x: scroll; width: 100%--->
					<iframe style="width: 100%; height: 400px; margin-bottom: -2%; border-color:white;" scrolling="no" src="{% url 'account:pro-card' %}">
					</iframe>
				  </div>
				</div>
			</div>
			<div class="col l6 m12 s12" style="padding: 0em 2em 0em 2em;">
				<div style="padding: 2em;" align="center" class="card">
				  <div class="row">
					<div class="left card-title ">
					  <b>{% trans 'Followed properties' %}</b>
					</div>
				  </div>
				  <div class="row z-depth-3" style="width: 90%; min-height: 300px;">
				  <!-- overflow-x: scroll; width: 100%--->
					<iframe style="width: 100%; height: 400px; margin-bottom: -2%; border-color:white;" scrolling="no" src="{% url 'account:fav-card' %}">
					</iframe>
				  </div>
				</div>
			</div>
		</div>

	<!--	    <div class="row" style="margin: 0%;">-->
	<!--	      <div class="col s5">-->
	<!--	        <div style="padding: 35px;" align="center" class="card">-->
	<!--	          <div class="row">-->
	<!--	            <div class="left card-title">-->
	<!--	              <b>Noticias</b>-->
	<!--	            </div>-->
	<!--	          </div>-->
	<!--	          <div class="row">-->
	<!--	            <a href="#!">-->
	<!--	              <div style="width: 100%;background-color: #cce5ff;border-radius: 5px 5px 5px 5px;" class="lighten-3 col s5 waves-effect">-->
	<!--	                <span class="indigo-text text-lighten-1"><h5>Product</h5></span>-->
	<!--	              </div>-->
	<!--	            </a>-->

	<!--	            <div class="col s1">&nbsp;</div>-->
	<!--	            <div class="col s1">&nbsp;</div>-->

	<!--	            <a href="#!">-->
	<!--	              <div style="width: 100%;background-color: #cce5ff;border-radius:  5px 5px 5px 5px;" class="lighten-3 col s5 waves-effect">-->
	<!--	                <span class="indigo-text text-lighten-1"><h5>Orders</h5></span>-->
	<!--	              </div>-->
	<!--	            </a>-->

	<!--              <div class="col s1">&nbsp;</div>-->
	<!--              <div class="col s1">&nbsp;</div>-->

	<!--              <a href="#!">-->
	<!--                <div style="width: 100%;background-color: #cce5ff;border-radius:  5px 5px 5px 5px;" class="lighten-3 col s5 waves-effect">-->
	<!--                  <span class="indigo-text text-lighten-1"><h5>Orders</h5></span>-->
	<!--                </div>-->
	<!--              </a>-->


	<!--              <div class="col s1">&nbsp;</div>-->
	<!--              <div class="col s1">&nbsp;</div>-->

	<!--              <a href="#!">-->
	<!--                <div style="width: 100%;background-color: #cce5ff;border-radius:  5px 5px 5px 5px;" class="lighten-3 col s5 waves-effect">-->
	<!--                  <span class="indigo-text text-lighten-1"><h5>Orders</h5></span>-->
	<!--                </div>-->
	<!--              </a>-->


	<!--              <div class="col s1">&nbsp;</div>-->
	<!--              <div class="col s1">&nbsp;</div>-->

	<!--              <a href="#!">-->
	<!--                <div style="width: 100%;background-color: #cce5ff;border-radius:  5px 5px 5px 5px;" class="lighten-3 col s5 waves-effect">-->
	<!--                  <span class="indigo-text text-lighten-1"><h5>Orders</h5></span>-->
	<!--                </div>-->
	<!--              </a>-->

	<!--	          </div>-->
	<!--	        </div>-->
	<!--	      </div>-->
	<!--        <div class="col s7">-->
	<!--          <div style="padding: 35px;padding-top: 12px;" align="center" class="card">-->
	<!--            <div class="row">-->
	<!--              <div class="left card-title">-->
	<!--                <b>Favoritos</b>-->
	<!--              </div>-->
	<!--            </div>-->

	<!--            <div class="row">-->
	<!--              &lt;!&ndash; overflow-x: scroll; width: 100%-&ndash;&gt;-->
	<!--                <iframe style="width: 100%;height: 315px;margin-bottom: -3%;" scrolling="no" src="{% url 'account:fav-card' %}">-->
	<!--                </iframe>-->
	<!--              -->
	<!--            </div>-->
	<!--          </div>-->
	<!--        </div>-->
	<!--	    </div>-->


		</div>
	</div>
	<span id="pro_id" hidden>{{user.profile.id}}</span>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.sidenav').sidenav();
			$('.carousel').carousel();
			$('.button-collapse').sidenav();
			$('.collapsible').collapsible();
			$('.carousel.carousel-slider').carousel({
				fullWidth: true,
				indicators: true
			});
			$('#accordion').find('.panel-default:has(".in")').addClass('panel-primary');
				$('#accordion').on('show.bs.collapse', function(e) {
					$(e.target).closest('.panel-default').addClass(' panel-primary');
					$('.collapse').collapse('hide');
				}).on('hide.bs.collapse', function(e) {
				  $(e.target).closest('.panel-default').removeClass(' panel-primary');
			});
		 });
		$("#id_edit").click( function () {
			const id = $("#pro_id").text();
			$.ajax({
			   type: "get",
			   url: '{% url "profile:edit" 123 %}'.replace( /123/ , id),
			}).done(function(data) {
				var y = document.getElementById('id_profile');
				y.innerHTML = data;
				$("#id_company").focus();
				$("#id_city").focus();
				$("#id_gender").focus();
				$("#id_phone").focus();
			  });
		});
		$("#logout").click(function(){
		  Swal.fire({
			title: "{% trans 'Are you sure?' %}",
			text: "{% trans "You will be logged out" %}",
			showCancelButton: true,
			confirmButtonColor: '#364e68',
			cancelButtonColor: '#bb1f1f',
			confirmButtonText: "{% trans 'Yes!' %}",
			cancelButtonText: "{% trans 'Cancel' %}"
		  }).then((result) => {
			if (result.value) {
			  Swal.fire(
				"{% trans 'You are logged out' %}",
				"{% trans 'You can go to My account to login again' %}",
				'success'
			  )
			   setTimeout(logout, 1800)
			}
		  })
		})
		function logout(){
		  window.location.href='{% url "account:logout" %}'
		}
		function sendForm() {
			var form = $("#formulario").serialize(); // serializes the form's elements.
			const id = $("#pro_id").text();
			$.ajax({
			   type: "post",
			   url: '{% url "profile:edit" 123 %}'.replace( /123/ , id),
			   data: form,
			}).done(function(data) {
				var y = document.getElementById('id_profile');
				y.innerHTML = data;
				$("#id_company").focus();
				$("#id_city").focus();
				$("#id_gender").focus();
				$("#id_phone").focus();
			  });
		};
		function sendForm2() {
			var form = new FormData($('#formulario2').get(0));
			const id = $("#pro_id").text();
			$.ajax({
			   type: "post",
			   url: '{% url "profile:photo" 123 %}'.replace( /123/ , id),
			   data: form,
			   cache: false,
			   contentType: 'multipart/form-data',
			   processData: false,
			   contentType: false,
			}).done(function(data) {
				if( data == 0){
					location.reload(true)
				}
				else{
					var y = document.getElementById('id_frame');
					y.innerHTML = data;
					$("#id_company").focus();
					$("#id_city").focus();
					$("#id_gender").focus();
					$("#id_phone").focus();
				}
			  });
		};
		$("#id_photo").click( function () {
			const id = $("#pro_id").text();
			$.ajax({
			   type: "get",
			   url: '{% url "profile:photo" 123 %}'.replace( /123/ , id),
			}).done(function(data) {
				var y = document.getElementById('id_frame');
				y.innerHTML = data;
				document.getElementById('id_photo').addEventListener('change', imageChange);
			  });
		});
		function imageChange(evt){
			var files = evt.target.files;
			//Obtenemos la imagen del campo "file".
			for (var i = 0, f; f = files[i]; i++) {
			   //Solo admitimos imágenes.
			   if (!f.type.match('image.*')) {
					continue;
			   }
			   var reader = new FileReader();
			   reader.onload = (function(theFile) {
				   return function(e) {
				   // Creamos la imagen.
				   document.getElementById("id_image").innerHTML = ['<img class="responsive-img"  src="', e.target.result,'" title="',escape(theFile.name),'"/>'].join('');
				};
			   })(f);
			   reader.readAsDataURL(f);
			}
		}
	</script>
</body>
</html>