.down-in-group2, .down-in-group3{
    border-radius: 0%;
    border-left:none;
}

.down-in-group1 {
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}
@media (max-width: 992px) {
    .down-in-group1 {
        border-radius: 0.25rem 0 0 0;
    }
    .down-in-group2 {
        border-left: 1px solid;
    }
    .down-in-group3 {
        border-radius: 0 0.25rem 0 0;
        border-left: 1px solid;
    }
    .input-in-group {
        border-radius: 0 0 0 0.25rem !important;
    }
    .button-in-group {
        border-radius: 0 0 0.25rem 0 !important;
    }
}
@media (max-width: 576px) {
    .down-in-group1 {
        border-radius: 0.25rem 0.25rem 0 0;
    }
    .down-in-group2 {
        border-left: 1px solid;
        border-radius: 0px;
    }
    .down-in-group3 {
        border-radius: 0px;
        border-left: 1px solid;
    }
}

.pac-container {
  background-color: #fff;
  z-index: 1000;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pac-icon {
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}

.pac-icon-marker {
  background-position: -1px -161px;
}

.pac-item {
  cursor: pointer;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 40px;
  font-size: 1rem;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  color: #999;
}

.pac-item:hover {
  background-color: #efefef;
}

.pac-item-error,
.pac-item-error:hover {
  color: #aaa;
  padding: 0 5px;
  cursor: default;
  background-color: #fff;
}
.pac-matched {
    font-size: 1rem;
}
.pac-item-query {
    font-size: 1rem;
}